<!--Header/Nav-->
<header>
    <div class="navContainer">
        <nav class="navNew">
            <div id="logo">
                <h5>Devin Gendron</h5>
            </div>
            <ul>
                <li>
                    <a href="http://flip1.engr.oregonstate.edu:5844/home">
                        <i class="fas fa-home"></i> Home</a>
                </li>
                <li>
                    <a href="http://flip1.engr.oregonstate.edu:5844/about">
                        <i class="fas fa-user"></i> About</a>
                </li>
                <li>
                    <a href="http://flip1.engr.oregonstate.edu:5844/resume">
                        <i class="fas fa-book"></i> Resume</a>
                </li>
                <li>
                    <a href="http://flip1.engr.oregonstate.edu:5844/hobbies">
                        <i class="far fa-bookmark"></i> Hobbies</a>
                </li>
            </ul>
        </nav>
    </div>
</header>
<!--About Section-->
<section class="about">
    <div class="aboutme">
        <h2>About Me</h2>
        <div>
            <img class="card-img-top" src="/image/pic.jpg" alt="Me">
        </div>
        <div class="info">
            <h5>Rutgers University New Brunswick - 2016</h5>
            <ul>
                <li>► Bachelor of Science in Geological Sciences</li>
                <li>► Minor in Marine Science</li>
                <li>► Minor in Art History</li>
            </ul>
            <h5>Oregon State University - 2019 (Current)</h5>
            <ul>
                <li>► Bachelor of Science in Computer Science</li>
            </ul>
            <h5>Boy Scouts of America - 2012</h5>
            <ul>
                <li>► Eagle Scout</li>
            </ul>
        </div>
    </div>
    <br>
    <div class="summary">
        <ul>
            <li>
                <h3>Career</h3>
                <p style="margin: 0 auto;">
                    <i class="fas fa-coffee"></i>

                    - Upon graduating from Rutgers University, I immediately began working at EcolSciences, Inc. as an Environmental Scientist.
                    After a year of work, I moved to Brooklyn, for a Staff Geologist Position at LiRo Engineers. It was at
                    this point that I began the OSU Computer Science program. I'm now currently on track to complete the
                    degree by Summer 2019.</p>
            </li>
            <li>
                <h3>Sports</h3>
                <p style="margin: 0 auto;">
                    <i class="fas fa-dumbbell"></i>

                    - My whole life I've played sports. From football, to basketball, track, and even some bowling. However the on that stuck
                    out to me most was lacrosse. I spent 12 years of my life on a lacrosse field. Summer ball, fall ball,
                    winter and spring. It was my dream growing up to play in college. I never did reach that goal, but the
                    hours of practice and hardwork I put in taught me a lot about life and myself.</p>
            </li>
            <li>
                <h3>Music</h3>
                <p style="margin: 0 auto;">
                    <i class="fas fa-headphones"></i> - I began my music career playing the clarinet in 5th grade. I had heard that playing an instrument
                    would make me smarter so I gave it a try. I never loved the clarinet, but I thought it was a bit of fun.
                    I always wanted to play the guitar and it wasn't until the 10th grade that I finally bought my own and
                    began practicing. I researched practice schedules and couldn't stop playing. I had friends who had been
                    playing for a while, so I was able to recieve good advice on this journey. I became a proficient player,
                    never stopping throughout college. However since working fulltime and being in school, my playing has
                    dropped off. I hope to find more time for it again in the future.</p>
            </li>
        </ul>
    </div>
</section>

<!--Footer-->
<footer>
    <div class="foot">
        <ul>
            <li>
                <a href="https://www.facebook.com/devin.gendron.9">
                    <img src="/image/facebook.png" alt="facebook" id="facebook">
                    <h6>Facebook</h6>
                </a>
            </li>
            <li>
                <a href="https://www.instagram.com/gendrond/">
                    <img src="/image/instagram.png" alt="insta" id="insta">
                    <h6>Instagram</h6>
                </a>
            </li>
            <li>
                <a href="https://twitter.com/Devin_Gendron">
                    <img src="/image/twitter.png" alt="insta" id="twitter">
                    <h6>Twitter</h6>
                </a>
            </li>
            <li>
                <a href="https://www.linkedin.com/in/devin-gendron-789373ab/">
                    <img src="/image/linkedin.png" alt="linkedin" id="linkedin">
                    <h6>Linkedin</h6>
                </a>
            </li>
            <li>
                <a href="https://github.com/GendronD">
                    <img src="/image/github.png" alt="github" id="github">
                    <h6>GitHub</h6>
                </a>
            </li>
        </ul>
    </div>
    <h4>Designed by Devin Gendron</h4>
    <br>
    <h4>All Rights Reserved</h4>
</footer>
<!--BootStrap JavaScript-->
<script src="https://code.jquery.com/jquery-3.2.1.slim.min.js" integrity="sha384-KJ3o2DKtIkvYIK3UENzmM7KCkRr/rE9/Qpg6aAZGJwFDMVNA/GpGFF93hXpG5KkN"
    crossorigin="anonymous"></script>
<script src="https://cdnjs.cloudflare.com/ajax/libs/popper.js/1.12.9/umd/popper.min.js" integrity="sha384-ApNbgh9B+Y1QKtv3Rn7W3mgPxhU9K/ScQsAP7hUibX39j7fakFPskvXusvfa0b4Q"
    crossorigin="anonymous"></script>
<script src="https://maxcdn.bootstrapcdn.com/bootstrap/4.0.0/js/bootstrap.min.js" integrity="sha384-JZR6Spejh4U02d8jOt6vLEHfe/JQGiRRSQQxSfFWpi1MquVdAyjUar5+76PVCmYl"
    crossorigin="anonymous"></script>